*{
    margin:0;
    padding:0;
}

.CategoryBlock{
    
    box-shadow: 5px 5px 5px #ADADAD	; 
}
.CategoryBlock div{
    height: 35px;
    line-height: 35px;
    text-align:start;
}
.CategoryBlock a{
    text-decoration: none;
    color: #000;
    margin-left: 5px;
}
.CategoryBlock .ProductNavbarTitle{
    
    background-color: #595757;
    color: white;
    font-weight: bold;   
    text-align: center;
}

.category .Range{
    height: 35px;
    line-height: 35px;


    background-color: #595757;
    color: white;

    font-weight: bold;
    font-size: 16px;

    overflow: hidden;
    text-align: center;
}
.priceRangeBlock{
    box-shadow: 5px 5px 5px #ADADAD	; 

}

.priceRangeBlock .category .startRange{
    margin-left: 10px;
    font-size: 16px;
    color: darkgrey;   
}
.priceRangeBlock .category .RangeNumber{ 
    display: flex;
    margin-bottom:10px ;    
}
.priceRangeBlock .category .RangeNumber .RangeType{
    margin-right: 20px;
}
.priceRangeBlock .category .RangeNumber .RangeType p{ 
    margin-left: 10px;   
    font-size: 16px;    
}
.priceRangeBlock .category .RangeNumber .RangeType .nbText{ 
    margin-left: 3px;  
    border: 1px solid rgb(221, 221, 221);
    width: 80px;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px
}
.desh{
    width: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-left: -15px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.Ptitle p{
    color: white;
    font-size: 40px;
    font-weight: bold;    
}




.productCard{
    margin: 0 10px;
    
    border: 0.5px #F0F0F0 solid;
    width: 260px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ADADAD;    
    box-sizing: border-box;
    padding: 9px;
}
.productPhoto{
    border-radius: 10px;
    width: 240px;
    height: 240px;
    overflow: hidden;
}
.productCard .productPhoto img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.productCard .productName{
    margin: 5px ;
    padding: 5px;
    background-color: #272727;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}
.productCard .productPrice{
    display: inline-block;
    padding: 5px;
    text-align:center;
    font-size: 0.8em;
}


