
      * {
        margin: 0;
        padding: 0;
        font-family: "Shippori Mincho", serif;
      }
      .memberProfileContent {
        height: 800px;
        width: 1280px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        /* background-color: antiquewhite; */
      }
      .memberProfileContent .memberNavbar {
        max-height: 400px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: start;

        /* background-color: bisque; */
      }

      .memberNavbar a {
        text-decoration: none;
        font-size: 16px;
        color: black;
      }
      .memberNavbar .recordLink {
        padding: 30px 10px 10px;
        border-bottom: 1px gray solid;
        /* background-color: aqua; */
      }
      .memberNavbar .mykeepLink {
        padding: 10px 10px;
        border-bottom: 1px gray solid;
        /* background-color: aqua; */
      }
      .memberNavbar .myprofileLink {
        padding: 10px 10px;
        border-bottom: 1px gray solid;
        /* background-color: aqua; */
      }
      .profileRegion {
        width: 1040px;
        padding-left: 10px;        
        justify-content: start;
        /* background-color: aquamarine; */
      }
      .profileRegion .profileLabel {
        margin: 20px 20px;
      }
      .profileRegion .profileContent {
        margin: 20px 40px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        
      }
      .profileRegion .profileContent div{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
      }
      .profileRegion .profileContent div label{
        width: 150px;
      }
      .contentLabel {
        /* background-color: coral; */
        width: 150px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .contentText {
        /* background-color: darkgrey; */
        width: 300px;
      }
      .contentText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      

      .changePwdRegion {
        margin: 20px 30px;
        font-size: 18px;
        /* background-color: aqua; */
        }
      .changePwdRegion .changePwdContent{
        margin:20px 10px ;
            
      }

      
      .changePwdRegion .changePwdContent div{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
        
      }
      .changePwdRegion .changePwdContent div label{
        width: 150px;
      }
        
      
    